# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CODE_TEST\Novel_Get\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
